<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
	     <RollingFile name="file" fileName="../logs/java_developer_test.log" 
                 filePattern="../logs/java_developer_test.%d{yyyy-MM-dd}-%i.log">
                 <!-- filePattern="../logs/java_developer_test.%d{yyyy-MM-dd}.log"> -->
            <PatternLayout pattern="%d %-5p %c - %m%n" />
            <!-- <PatternLayout pattern="%d [%t] %-5p %c - %m%n" /> -->
            <Policies>
            	<!-- <OnStartupTriggeringPolicy /> -->
            	<TimeBasedTriggeringPolicy interval="1" modulate="true" />
            	<SizeBasedTriggeringPolicy size="50 MB"/>
            	<DefaultRolloverStrategy max="10"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
    	<AsyncRoot level="info">
            <AppenderRef ref="file" />
            <AppenderRef ref="LogToConsole"/>
        </AsyncRoot>
    </Loggers>
</Configuration>